doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap' rel='stylesheet')
  link(href='css/cambioDeContraseña.css' rel='stylesheet')
  title cambio de contrase&ntilde;a
nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand
      img.logo-brand(src='img/1.png')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a#home.nav-link(href='#')
        li.nav-item
          a#usar.nav-link(href='#')
br
main
  .container
    span
      img.mx-auto.d-block(src='img/instructivo.png' width='35' alt='')
    p.text-center.text-muted Instructor
    hr
    h2.text-center.change-password Cambio de contrase&ntilde;a
    .text-muted.text-center Escribe aqu&iacute; para tu cambio de contrase&ntilde;a
    br
    .row
      .col-7.mx-auto.d-block
        section.section-password
          .form-group
            label(for='usr')
              h5 Contrase&ntilde;a actual
            input#usr.form-control.form-password(type='password' name='username')
          br
          .form-group
            label(for='pwd')
              h5 Contrase&ntilde;a nueva
            input#pwd.form-control.form-password(type='password' name='password')
          br
          .form-group
            label(for='pwd')
              h5 Confirmar contrase&ntilde;a
            input#pwd.form-control.form-password(type='password' name='password')
          a(href='systemProfileInst') Confirmar nueva contrase&ntilde;a
          a.btn.text-muted(href='systemProfileInst') Cancelar y volver
