doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap' rel='stylesheet')
  link(href='css/cambioDeContraseña.css' rel='stylesheet')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  title Cambio de contrase&ntilde;a
nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand
      img.logo-brand(src='img/1.png' alt='Logo ORAS')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a#home.nav-link(href='#')
        li.nav-item
          a#usar.nav-link(href='http://127.0.0.1:8000/')
br
br
main
  .container
    span
      img.mx-auto.d-block(src='img/profile.png' width='40' alt='')
    p.text-center.text-muted Aprendiz
    hr
    h3.text-center.change-password Cambio de contrase&ntilde;a
    .text-muted.text-center Llena los campos para el cambio de contrase&ntilde;a
    br
    .row
      .col-sm-7.mx-auto.d-block
        form#enviar-email.section-password(action='homePageAprendiz')
          .form-group
            label(for='usr')
              h5 Contrase&ntilde;a actual
            input#password.form-control.form-password(type='password', name='username')
          br
          .form-group
            label(for='pwd')
              h5 Nueva contrase&ntilde;a
            input#newPassword.form-control.form-password(type='password', name='password')
          br
          .form-group
            label(for='pwd')
              h5 Confirmar contrase&ntilde;a
            input#confirma.form-control.form-password(type='password', name='password')
            br
          button#btnConfirm.boton-password Confirmar nueva contrase&ntilde;a
          br
          br
          button#btnCancel.btn.text-muted Cancelar y volver
    script(src="01-app.js")
br
br
include ../layout/footer