doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap' rel='stylesheet')
  link(href="css/style_recordar_contraseña.css" rel='stylesheet')
  title Recordar contrase&ntilde;a
nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand
      img.logo-brand(src="img/1.png")
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a#home.nav-link(href='#')
        li.nav-item
          a#usar.nav-link(href='#')
// Main
main
  .container
    br
    h5.text-center.text-muted Vista instructor
    .row
      .col-sm-9
        section.form-verification
          h4 Recupera tu contrase&ntilde;a
          p.text-muted
            | El aplicativo web ORAS te recordar&aacute; tu contrase&ntilde;a por medio de
            | tu correo. Por favor, digita tu n&uacute;mero de documento para la
            | validaci&oacute;n
          img(src='img/profile.png' alt='Logo Usuario')
          input.form-group.text-center(type='number' placeholder='No. de documento')
          hr
          br
          h4 Correo de confirmaci&oacute;n
          p.text-muted
            | Verifica la bandeja de entrada de tu correo electr&oacute;nico. Esto se
            | usar&aacute; para enviarte el correo de confirmaci&oacute;n
          img(src='img/check.png' alt='Logo Formulario')
          input.form-group.text-center(type='email' placeholder='Ej. 123@misena.edu.co')
        br
        a.btn.bg-primary.text-white(href='../inicio') Guardar cambios
        a.btn.text-danger(href='http://127.0.0.1:8000/instructor_vista_Uno') Cancelar y volver
br
br
include ../layout/footer