doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/Listados_Novedades.css')
  title LISTADOS Y NOVEDADES
nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand
      img.logo-brand(src='img/1.png')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a#home.nav-link(href='http://127.0.0.1:8000/instructor_vista_Uno') Inicio
        li.nav-item
          a#usar.nav-link(href='http://127.0.0.1:8000/') Cerrar Sesion
main
  .container
    .d-flex.align-items-center.mt-5
      span
        img(src='imagenes/profile.png' width='35' alt='')
      h3.ml-2 Listado y novedades
    p.text-muted
      | Permite mostrar los listados por ficha y registrar novedades por
      | aprendices
    .row
      .col-12
        section
          br
          h5 Seleccionar ficha
          select#sel1.form-control.input-option(name='sellist1')
            option 2024373
            option 2024879
          br
        section.section-table
          table.table.table-bordered
            thead
              tr
                th Ficha
                th Especialidad
                th Sede
            tbody
              tr
                td 2024373
                td
                  select#sel1.form-control(name='sellist1')
                    option Tecn&oacute;logo
                    option T&eacute;cnico
                td
                  | Centro de Electricidad Electr&oacute;nica y Telecomunicaciones
        a.btn.btn-success(href='http://127.0.0.1:8000/ListaDeAprendices') Mostrar listado
        a.btn.btn-warning(href='http://127.0.0.1:8000/registro_Novedaes') Crear novedad
        a.btn.btn-danger(href='http://127.0.0.1:8000/instructor_vista_Uno') Cancelar
