doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/stilos.css')
  title GESTION DE CONSULTAS
nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand
      img.logo-brand(src='img/1.png')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a#home.nav-link(href='http://127.0.0.1:8000/Aprendiz_Vista') Inicio
        li.nav-item
          a#usar.nav-link(href='http://127.0.0.1:8000/') Cerrar Secion
.container
  .row
    .col-12.mt-3
      h2
        img.iimg(src='img/consult.png' width='30' alt='')
        | Gesti&oacute;n de consultas
      p.text-muted Permite ejecutar y gestionar consultas.
      hr
      p.text-muted Introduzca los datos que tenga y pulse Buscar
      .row
        .columna.col-auto
          label(for='')
            strong
              h5 Ficha
          input(type='text' placeholder='2024373')
      h5 Resultado(s) de la(s) busqueda(s)
      br
      .col-auto
        button.btn.btn-outline-primary Buscar
        br
        br
        .table-responsive.table-section
          table.table
            thead
              tr
                th SEDE
                th Descripcion
                th Especialidad
                th FORMATO
                th No. Trimestre
                th INFORMES
            tbody
              tr
                td Centro_de_electricidad CEET
                td CLASE ADSI
                td
                  div(classs='input-container')
                    select.select
                      option(values='PDF') Tecnico
                      option(values='') Tegnologo
                      option(values='') Especializada
                td
                  div(classs='input-container')
                    select.select
                      option(values='PDF') PDF
                      option(values='XLS') XLS
                td III
                td
                  a(href='#') Ver Informe
              tr
                td Centro_de_electricidad CEET
                td CLASE ADSI
                td
                  div(classs='input-container')
                    select.select
                      option(values='PDF') T&eacute;cnico
                      option(values='') Tecn&oacute;logo
                      option(values='') Especializada
                td
                  div(classs='input-container')
                    select.select
                      option(values='PDF') PDF
                      option(values='XLS') XLS
                td III
                td
                  a(href='#') Ver Informe
              tr
                td Centro_de_electricidad CEET
                td CLASE ADSI
                td
                  div(classs='input-container')
                    select.select
                      option(values='PDF') Tecnico
                      option(values='') Tecnologo
                      option(values='') Especializada
                td
                  div(classs='input-container')
                    select.select
                      option(values='PDF') PDF
                      option(values='XLS') XLS
                td III
                td
                  a(href='#') Ver informe
        br
        br
      .row.justify-content-center
        a(href='http://127.0.0.1:8000/Aprendiz_Vista') Guardar
        a.btn.btn-warning(href='#') Nueva consulta
        a.ml-2.btn.btn-danger(href='http://127.0.0.1:8000/Aprendiz_Vista') Cancelar
        br
        br
        br
