doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/Cambiar_Definir_Olvido.css')
  title Cambiar Definir
nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand
      img.logo-brand(src='img/1.png')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a#home.nav-link(href='homepageAprendiz') Inicio
        li.nav-item
          a#usar.nav-link(href='/') Cerrar Sesion
.container
  br
  .row
    span
      img(src="static 'img/Inters.png" width='35' alt='')
      span
        h5.text-center Ayuda sobre el olvido de contrase&ntilde;a
        br
        br
        .col-12.justify-content-center
          section.form-answer
            h3.w-75.rt
              | Por favor, selecciona una pregunta y a continuaci&oacute;n su respuesta correspondiente. Esto se utilizar&aacute; para su verificaci&oacute;n:
            hr
            .form-group
              h4 Pregunta
              p.text-muted Seleccione una opci&oacute;n
              select#sel1.form-control.formul(name='sellist1')
                option Ingrese los &uacute;ltimos cinco (5) digitos de su documento
                option Opci&oacute;n 2
                option Opci&oacute;n 3
                option Opci&oacute;n 4
            br
            .form-group
              label(for='pwd')
                h4 Respuesta
              input#rt.form-control.formul(type='number' placeholder='Selecciona una opción de la lista y respóndela' name='rt')
            a.boton-form(href='systemProfileApre') Enviar
            a.btn.text-muted(href='http://127.0.0.1:8000/Perfil_Sistema_Aprendiz') Cancelar
br
