doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='theme-color' content='#319197')
  meta(name='description' content='Sistema Integrado de Gestión para el Registro y Control de Asistencia SENA.')
  link(rel='apple-touch-icon' href='/example.png')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/stylee.css' )
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap' rel='stylesheet')
  script(src='https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js')
  title ORAS
header
  nav.navbar.navbar-expand-lg
    .container
        img.logo-brand(src='img/1.png' alt='logo-pagina' purpose:any='' maskable='')
br
main
  .container
    h1.text-project SIG-A ORAS
    p.text-center Sistema Integrado de Gesti&oacute;n de Asistencia
    br
    br
    h2.text-center &iquest;Qu&eacute; eres?
    p.text-center Ingresa seg&uacute;n tu rol en el SENA
    br
    .row
      .col-sm-4
        .card(style='width: 100%')
          img.card-img-top.image-overlay(src='img/instructor.jpg' alt='Card image' style='width: 100%')
          .card-body.overlay
            h3.card-title Instructor
            p.card-text.text-muted
              | Puedes recibir consultas respecto a tu proceso en la ficha.
              | Asistencia, inasistencia o inasistencias justificadas
            a.boton-overlay(href='/ingresoInstructor') Ingresar
      .col-sm-4.mt-3
        .card(style='width: 100%')
          img.card-img-top.image-overlay(src='img/aprendiz.jpg' alt='Card image' style='width: 100%')
          .card-body.overlay
            h3.card-title Aprendiz
            p.card-text.text-muted
              | Realiza consultas respecto a la asistencia de cada uno de los
              | aprendices de tu ficha correspondiente
            a.boton-overlay(href='/ingresoAprendiz') Ingresar
      .col-sm-4.mt-3
        .card(style='width: 100%')
          img.card-img-top.image-overlay(src='img/adminLogin.jpg' alt='Card image' style='width: 100%')
          .card-body.overlay
            h3.card-title Administrador
            p.card-text.text-muted
              | Puedes editar, eliminar, actualizar o a&ntilde;adir a cualquier
              | aprendiz dentro de tu ficha de formaci&oacute;n              
            a.boton-overlay(href='/ingresoAdmin') Ingresar
br
include ./layout/footer

