:root {
  --amarillo   : #ffc107;
  --azulMar    : #0097A7;
  --rojoPastel : #ad0c0c;
  --blanco     : #ffffff;
  --negro      : #212121;
  --violeta    : #27085e;
  --gris       : #bbb9b9;
  --dark       : #16191c;
  --coll       :#ececec;
  --azul-turquesa :#03989E;
  --sds:#826B86;
}
.inicio {
  background-color:var(--blanco);
}
h1,h2,h3{
  font-family: 'Inter', sans-serif;
}
.pantallaUno{
  background-color:var(--coll) ;
}
.logo-brand{
    min-width: 150px;
    max-width: 80px;
  /*width: 25px;%;*/
}
.navbar {
  background:var(--azul-turquesa);
  color:var(--negro);
}
.table-section{
	box-shadow: 0px 0px 8px -1px #00000052;
	border-radius: 0.5rem;
	background-color: #fff;
  padding: 30px;
}
