body {
background:#ececec;
}
.change-password{
  font-family: 'Inter', sans-serif;
}
.navbar {
background-color: #03989e;
min-height: 80px;
}
.logo-brand { 
min-width: 150px;
max-width: 80px;
}
.section-password{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 8px -1px #00000052;
  border-radius: 0.3rem;
  }
.boton-password{
  padding: 10px;
  color: solid #000;
  margin: 10px 0px;
  border: 2px solid #03989e;
  background: none;
}
/* .boton-password:hover{
  background-color: #03989e;
  color: #fff;
} */
hr{
  width: 50%;
}

.-error{
  color:#df0b0b;
  border: 1px solid;
  padding: 0.7rem;
  margin-top: 1rem;
  text-align: center; 
}
.campos{
  /* color:#20b133; */
  border: 1px solid #20b133 ;
  padding: 0.7rem;
  margin-top: 1rem;
  text-align: center; 
}

.btn-olvido{
  text-align: center;
}

.not-allowed {
  cursor: not-allowed;
}

.opacity {
  opacity: .1;
}