:root {
    --gris2         :#f0f2f5;
    --blanco        :#ffffff;
    --Rojo_Pastel   :#cf5252;
    --Morado        :#6d3ac5;
    --gris          :#bbb9b9;
    --coll          :#ececec;
    --azul-turquesa :#03989E;
    --sds           :#826B86;
    --Violeta       :#b22adb;
    --azul2         :#0275f0;
    --azul3         :#4774bf;
    --Verde         :#0cc94e;
  }
  .inicio{
  color:var(--negro) ;
  background-color:var(--blanco);     
  }  
  .Formularios{
  background-color:var(--blanco) ;
  }  
  .pantallaUno{
  color:var(--dark) ;
  background-color:var(--coll) ;
  }
  h1,h2,h3{
    font-family: 'Inter', sans-serif;
  }
.logo-brand{
    min-width: 150px;
    max-width: 80px;
  /*width: 25px;%;*/
}
.navbar{
  background:var(--azul-turquesa);
  color:var(--negro);
}
.section-table{    
box-shadow: 0px 0px 8px -1px #00000052;
border-radius: 0.5rem;
background-color: #fff;
padding: 15px;
overflow: auto;
}
.section-container{
box-shadow: 0px 0px 8px -1px #00000052;
border-radius: 0.5rem;
background-color: #fff;
padding: 20px;
}