h2 {
  font-family: "Inter", sans-serif;
}
.navbar {
  background-color: #03989e;
  min-height: 80px;
}
.logo-brand {
  min-width: 150px;
  max-width: 80px;
}
.parr-one {
  font-size: 30px;
  font-weight: 600;
  color: #03989e;
}
.text-login {
  font-size: 30px;
  letter-spacing: -0.5px;
  text-align: center;
}
.boton-one-form {
  color: rgb(0, 0, 0);
  background: none;
  border: 2px solid #03989e;
  padding: 10px;
  font-size: 16px;
  margin-top: 1rem;
}
.boton-one-form:hover {
  text-decoration: none;
  background-color: #03989e;
  color: #fff;
}
.section-father-login {
  display: flex;
  justify-content: center;
}
.form-one {
  width: 95%;
  padding: 12px;
  border-radius: 0px;
  border: 1px solid #cccccc;
}
.form {
  width: 95%;
  border-radius: 0px;
}
.form-one:hover {
  border-bottom: 2px solid #03989e;
  border-radius: 5px;
}
.section-login {
  box-shadow: 0px 0px 8px -1px #00000052;
  border-radius: 0.3rem;
}
.welcome-text {
  color: #03989e;
}
.password:hover {
  color: #000 !important;
  text-decoration: none;
}
.not-allowed {
  cursor: not-allowed;
}

.opacity {
  opacity: .1;
}

.color{
  border:#df0b0b;
}

.-error{
  color:#df0b0b;
  border: 1px solid;
  padding: 0.7rem;
  margin-top: 1rem;
  text-align: center; 
}
.campos{
  /* color:#20b133; */
  border: 1px solid #20b133 ;
  padding: 0.7rem;
  margin-top: 1rem;
  text-align: center; 
}

.btn-olvido{
  text-align: center;
}

